.loginContainer {
  width: 500px;
}

.loginForm {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 200px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  background-color: whitesmoke;
  margin: 5px;
  color: black;
}

.submit {
  color: white;
  width: 160px;
  border: 1px solid whitesmoke;
  border-radius: 12px;
  font-size: 25px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  margin-top: 15px;
}

.submit:hover {
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
  cursor: pointer;
}

.noAccountContainer {
  margin-top: 20px;
}

.signUp {
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: transform 0.2s ease;
}

.signUp:hover {
  transform: scale(1.2);
}

.forgotPassword {
  font-size: 14px;
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: transform 0.2s ease;
}

.forgotPassword:hover {
  transform: scale(1.1);
}

.goBack {
  margin-top: 20px;
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: transform 0.2s ease;
}

.goBack:hover {
  transform: scale(1.2);
}

.resetPassword {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitReset {
  color: white;
  width: fit-content;
  border: 1px solid whitesmoke;
  border-radius: 12px;
  font-size: 25px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  margin-top: 15px;
}

.submitReset:hover {
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
  cursor: pointer;
}
